* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

/* Logo */
.logo {
    width: 100px;
    height: auto;
    margin-left: 20px;
}

.logo-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}


/* Nav Bar */
header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a.current-page {
    color: red;
}

/* Section principale */
main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.content {
    flex: 3;
}

.sidebar {
    flex: 1;
    padding: 10px;
    background-color: #fff;
    margin-left: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer .page-author {
    color: red;
}